.AbsentContactBox
  .contactDate
    = absentcontact.set_date
  .contactName
    = absentcontact.user.child_name
  .contactKind
    = t("activerecord.attributes.absent_contact.kind.#{absentcontact.kind}")
  .contactReason 
    = absentcontact.reason
  .contactAfterContact
    = t("activerecord.attributes.absent_contact.after_contact.#{absentcontact.after_contact}")
  .contactConfirm
    済
  .contact_T_Confirm
    - if current_user && !current_user.admin?
      .parent-confirm
        - if absentcontact.t_checked == true
          確認済
        - else
          未確認
    - else 
      .teacher-confirm-btn
        = form_with url: absent_contact_t_checked_room_absent_contacts_path(@room, absentcontact), method: :patch, id: "teacherConfirmBtn", local: true do |f|
          .t_checked
            = f.check_box  :t_checked, { checked: true }
          = f.submit '確認', class: 't_checked_SubmitBtn'
        - if absentcontact.t_checked == true
          .confirmed
            Status: 確認済
        - else
          Status: 
          .unconfirmed
            未確認
  - if current_user && !current_user.admin?
    .contact_edit_delete_btn
      = link_to edit_room_absent_contact_path(@room, absentcontact), class: "EditBtn" do
        %i.fas.fa-file-signature
      = link_to room_absent_contact_path(@room, absentcontact), method: :delete, class: "DeleteBtn" do
        %i.fas.fa-trash-alt