.infoArea
  .infoArea__infoHead
    .infoArea__infoHead__userRoom
      %h6 選択中のクラス
      .infoArea__infoHead__userRoom__roomName
        = @room.number
    .infoArea__infoHead__headBox
      %ul.headBtns
        %li.headBtn
          = link_to '欠席連絡', room_absent_contacts_path, class: "HeadBtn abscentContact"
        %li.headBtn
          = link_to '連絡帳', room_contact_books_path, class: "HeadBtn contactBook"
        %li.headBtn
          = link_to '配布手紙', room_letters_path, class: "HeadBtn letters"

  .infoArea__infoMenu
    %ul.breadCrumbsLink
      %li
        = link_to 'クラス選択', root_path, class: "roomSelectBtn"
      %li
        %i.fa.fa-chevron-right
      %li
        = link_to '連絡帳', room_contact_books_path, class: "contactBookSelectBtn"
      %li
        %i.fa.fa-chevron-right
      %li
        %p.letterSelect 欠席連絡
    = link_to 'アップロード', "/", class: "uploadBtn"
    
  .infoArea__AbsentContact
    .infoArea__AbsentContact__absentContactForm
      .infoArea__AbsentContact__absentContactForm__FormHead
        連絡フォーム
      .infoArea__AbsentContact__absentContactForm__FormBox
        = form_with model: [@room, @absent_contact], class: "IputForm", local: true do |f|
          .InputBox
            .absentAt
              = f.date_field :absent_at, placeholder: "いつ", class: "inputAbsentAT"
            .absentKind
              = f.select :kind, AbsentContact.kinds.keys, {}, class: "inputKind"
            .absentReason
              = f.text_area :reason, placeholder: "理由,連絡", class: "inputReason"
            .afterContact
              = f.select :after_contact, AbsentContact.after_contacts.keys, {}, placeholder: "放課後、連絡が", class: "inputAfterContact"
            .SubmitBtn
              = f.submit '送信', class: "submit-btn" 
      .infoArea__AbsentContact__contactsHistory
        .infoArea__AbsentContact__contactsHistory__title
          送信履歴
        .infoArea__AbsentContact__contactsHistory__index
          hello new world