.infoArea
  =render 'contact_books/headButtonLinks'

  .infoArea__infoMenu
    %ul.breadCrumbsLink
      %li
        = link_to 'クラス選択', root_path, class: "roomSelectBtn"
      %li
        %i.fa.fa-chevron-right
      %li
        = link_to '連絡帳', room_contact_books_path, class: "contactBookSelectBtn"
      %li
        %i.fa.fa-chevron-right
      %li
        %p.letterSelect 欠席連絡

  -# trueがteacher side、falseがparent side
  -if current_user && current_user.admin?
    .infoArea__AbsentContact
      .infoArea__AbsentContact__contactsHistory
        =render 'absent_contacts/AbsentContactHistoryTeachers'
  - else
    .infoArea__AbsentContact
      .infoArea__AbsentContact__contactsHistory
        .infoArea__AbsentContact__contactsHistory__title
          欠席連絡フォーム
        .infoArea__AbsentContact__contactsHistory__FormBox
          = form_with model: [@room, @absent_contact], class: "IputForm", local: true do |f|
            .InputBox
              .absentAt
                日付：
                = f.date_field :absent_at, class: "inputAbsentAT"
              .absentKind
                種類：
                = f.select :kind, AbsentContact.kinds_i18n.invert, {}, class: "inputKind"
              .absentReason
                理由・連絡：
                = f.text_area :reason, class: "inputReason"
              .afterContact
                放課後担任から連絡が
                = f.select :after_contact, AbsentContact.after_contacts_i18n.invert, {}, class: "inputAfterContact"
              .SubmitBtn
                = f.submit '送信', class: "submit-btn" 
        =render 'absent_contacts/AbsentContactHistoryParents'

