.SchoolWrapper
  = render partial: "/rooms/top_nav"
  .wall
    .FormBox
      %p ユーザー登録
      = form_for @teacher, url: users_registrations_create_teacher_path(@teacher) do |f|
        .field
          = f.label :学校名
          %br/
          = f.text_field :school_id, value: "#{current_school.school_name}", readonly:true
        .field
          = f.label :先生名
          %br/
          = f.text_field :parent_name, autofocus: true, autocomplete: "parent_name"
        .field
          = f.label :先生名
          %br/
          = f.text_field :child_name, autofocus: true, autocomplete: "child_name"
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .field
          = f.hidden_field :admin, value: 1
        .actions
          = f.submit "登録する", class: "submitBtn"
      = link_to '戻る', schools_path, class: "backLink"