.infoArea
  .infoArea__infoHead
    .infoArea__infoHead__userRoom
      %h6 選択中のクラス
      .infoArea__infoHead__userRoom__roomName
        = @room.number
    .infoArea__infoHead__headBox
      %ul.headBtns
        %li.headBtn
          = link_to '欠席連絡', room_contact_books_path, class: "HeadBtn abscentContact"
        %li.headBtn
          = link_to '連絡帳', room_contact_books_path, class: "HeadBtn contactBook"
        %li.headBtn
          = link_to '配布手紙', room_letters_path, class: "HeadBtn letters"
  .infoArea__infoMenu
    %ul.breadCrumbsLink
      %li
        = link_to 'クラス選択', root_path, class: "roomSelectBtn"
      %li
        %i.fa.fa-chevron-right
      %li
        %p.contactBookSelect 連絡帳
    - if current_user && current_user.admin?
      = link_to 'アップロード', new_room_contact_book_path(@room), class: "uploadBtn"
  
  
  .infoArea__infoContent
    .infoArea__infoContent__todayContactBook
      .infoArea__infoContent__todayContactBook__todayContactBookTitle
        本日の連絡帳
      .infoArea__infoContent__todayContactBook__TodayContactBook
        - if !@today_contact_book.present?
          %i.fa.fa-hammer
          .makingMessage ただいま作成中です
          %i.fa.fa-hammer
        - else
          - @today_contact_book.each do |t|
            .todayCb
              = link_to room_contact_book_path(@room, t), class: "todayCbLink" do
                = t.set_date
              - if current_user && current_user.admin?
                .contact_edit_delete_btn
                  = link_to room_contact_books_path(@room), method: :get, class: "EditBtn" do
                    %i.fas.fa-file-signature
                  = link_to room_contact_book_path(@room, t), method: :delete, class: "DeleteBtn" do
                    %i.fas.fa-trash-alt

    .infoArea__infoContent__historyContactBookTitle
      過去の連絡帳      
    .infoArea__infoContent__historyContactBookBox
      -@everymonth.each do |month|
        - if month[1].present?
          .infoArea__infoContent__historyContactBookBox__title
            = month[0]
          .infoArea__infoContent__historyContactBookBox__Index
            %ul.cbs
              -month[1].each do |m|
                %li.cb
                  = link_to room_contact_book_path(@room, m),class: "cbLink" do
                    = m.set_date
                %li.cb
                  - if current_user && current_user.admin?
                    .contact_edit_delete_btn
                      = link_to room_contact_books_path(@room), method: :patch, class: "EditBtn" do
                        %i.fas.fa-file-signature
                      = link_to room_contact_book_path(@room, m), method: :delete, class: "DeleteBtn" do
                        %i.fas.fa-trash-alt