.infoArea
  .infoArea__infoHead
  =render 'contact_books/headButtonLinks'

  .infoArea__infoMenu
    %ul.breadCrumbsLink
      %li
        = link_to 'クラス選択', root_path, class: "roomSelectBtn"
      %li
        %i.fa.fa-chevron-right
      %li
        = link_to '連絡帳', room_contact_books_path, class: "contactBookSelectBtn"
      %li
        %i.fa.fa-chevron-right
      %li
        = @contact_book.set_date
        の連絡帳
    
  .infoArea__infoContent
    .infoArea__infoContent__itemsBox
      .infoArea__infoContent__itemsBox__date
        = @contact_book.set_date
      .infoArea__infoContent__itemsBox__letter
        手　紙：
        = @contact_book.letter
        枚
      .infoArea__infoContent__itemsBox__schedule
        時間割：
        = @contact_book.schedule
      .infoArea__infoContent__itemsBox__homework
        宿　題：
        = @contact_book.homework
      .infoArea__infoContent__itemsBox__bring
        持ち物：
        = @contact_book.bring
      .infoArea__infoContent__itemsBox__inform
        連　絡：
        = @contact_book.inform
