.sideBar
  .sideBar__userBox
    %h6 ログイン中のユーザー
    .sideBar__userBox__userName 
      
  .sideBar__logOutBox
    %ul
      %li= link_to "学校ログアウト", destroy_school_session_path, method: :delete
      %li= link_to "ユーザーログアウト", destroy_user_session_path, method: :delete

  .sideBar__roomIndex
    .RoomIndex
      - @rooms.each do |r|
        %ul
          %li
            = link_to room_path(r), class: "roomNumberLink" do
              = r.number
          - if current_user && current_user.admin? && ( AbsentContact.includes(:room).where(room_id: r.id, t_checked: false).count != 0 )
            .noticeImage
              %i.far.fa-paper-plane
              .yet_notice_count
                = AbsentContact.includes(:room).where(room_id: r.id, t_checked: false).count
      