.wrapper
  .Wall
    .CotactBookField
      %p.head "連絡帳編集フォーム"
      =form_with model: [@room, @contact_book], method: :post, local: true do |f|
        .FormField
          .FormField__labelDate
            = f.label :"日付", class: "Date"
          .FormField__inputDate
            = f.date_select :date, placeholder: "日付"
          .FormField__labelLetter
            = f.label :"手紙"
          .FormField__inputLetter
            = f.number_field :letter, placeholder: "手紙" 
          .FormField__labelSchedule
            = f.label :"時間割"
          .FormField__inputSchedule
            = f.text_field :schedule, placeholder: "国　国　国　国　国　国", class: "scheduleInput"
          .FormField__labelHomework
            = f.label :"宿題"
          .FormField__inputHomework
            = f.text_area :homework, placeholder: "宿題", class: "homeworkInput"
          .FormField__labelbring
            = f.label :"持ち物"
          .FormField__inputbring
            = f.text_area :bring, placeholder: "持ち物", class: "inputBring"
          .FormField__labelInform
            = f.label :"連絡"
          .FormField__inputInform
            = f.text_area :inform, placeholder: "連絡", class: "informInput"
          .FormField__submit
            = f.submit "アップロード", class:"submit-btn"