.Letter
  = link_to image_url("#{letter.pdf}"), class: "letterFile" do
    %i.fa.fa-file-pdf
    = letter.name
  配布日：
  .releasedAtBox
    = letter.set_date
  - if current_user && current_user.admin?
    = link_to room_letter_path(@room, letter), method: :delete, class: "DeleteBtn" do
      %i.fas.fa-trash-alt