.infoArea
  .infoArea__infoHead
    .infoArea__infoHead__userRoom
      %h6 選択中のクラス
      .infoArea__infoHead__userRoom__roomName
        = @room.number
    .infoArea__infoHead__headBox
      %ul.headBtns
        %li.headBtn
          = link_to '連絡帳', "/", class: "HeadBtn contactBook"
        %li.headBtn
          = link_to '配布手紙', room_letters_path, class: "HeadBtn letters"

  .infoArea__infoMenu
    %ul.breadCrumbsLink
      %li
        = link_to 'クラス選択', root_path, class: "roomSelectBtn"
      %li
        %i.fa.fa-chevron-right
      %li
        = link_to '連絡帳', room_contact_books_path, class: "contactBookSelectBtn"
      %li
        %i.fa.fa-chevron-right
      %li
        %p.letterSelect 配布手紙
    = link_to 'アップロード', new_room_letter_path(@room), class: "uploadBtn"
    
  .infoArea__infoContent
    .infoArea__infoContent__letterHead
      %p.headTitle 配布手紙
    .infoArea__infoContent__lettersBox
      - @letters.each do |le|
        .Letter
          = link_to image_url("#{le.pdf}"), class: "letterFile" do
            = le.name
          配布日：
          = le.set_date