.UserWrapper
  .wall
    .FormBox
      %p ログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "current-password"
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :ログインしたままにしておく
        .actions
          = f.submit "ログイン", class: "submitBtn"
      = render 'devise/sessions/sample-parent-login.html.haml'
      .sp-check
        = render 'devise/sessions/sample-teacher-login.html.haml'
      %br/
      = render "devise/shared/links"
      = link_to '学校管理者ログイン' ,new_school_session_path, id: "SchoolLogin"