.SchoolWrapper
  = render partial: "/rooms/top_nav"
  .MainNav
    .MainNav__Wrapper
      .MainNav__Wrapper__head
        クラス編集
      .MainNav__Wrapper__editForm
        = form_with model: @room, method: :patch do |f|
          .fields
            .field
              = f.label :学年, class: "label"
              = f.number_field :grade
            .field
              = f.label :クラス名, class: "label"
              = f.text_field :number
            .actions
              = f.submit id: "updateBtn"
            = link_to '戻る', confirm_rooms_path, class: "backLink"
