.SPWrap
  .SPWrap__Wrapper
    .SPWrap__Wrapper__header
      .SPWrap__Wrapper__header__UserName
        ようこそ
        = current_user.parent_name
        さん
      = render 'layouts/sp-header-belongs'
      
    .SPWrap__Wrapper__Contents
      .SPWrap__Wrapper__Contents__ButtonsBox
        %ul.WrapperButtons
          %li.WrapperButton
            = link_to '欠席連絡', room_absent_contacts_path(current_user.room_id), class: "menuButton"
          %li.WrapperButton
            = link_to '連絡帳', room_contact_books_path(current_user.room_id), class: "menuButton"
          %li.WrapperButton
            = link_to '配布手紙', room_letters_path(current_user.room_id), class: "menuButton"

    .SPWrap__Wrapper__Logout
      = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "LongoutButton"